<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://i.imgur.com/ZowBTYD.png" alt="Yorisi.com-favicon" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>
        <h3>User Story: </h3>
        1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos (from header <code>User-Agent</code>) for my device.

        <h3>Example Usage:</h3>
        <p>
          <a href="https://ek-request-header-parser-microservice.glitch.me//api/whoami" target="_blank">Generate info</a></p>
        <p>
          or copy and paste this link below in the browser to generate the info.<br>
          <a href="https://ek-request-header-parser-microservice.glitch.me//api/whoami" target="_blank">https://ek-request-header-parser-microservice.glitch.me//api/whoami</a>
          
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"IP Address":"14x.105.8.2Y6","Language":"en-US","Software":"Windows NT 10.0; Win64; x64"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="http://www.twitter.com/Eric_kouassi">@Eric_Kouassi</a> | <a href="mailto:hello@erickouassi.com">Contact Us</a>
        </p>
        </div> 
   </body>


</html>
